body {
  background-image: linear-gradient(45deg, #f1effd, #ffeaef);
}

.carousel {
  justify-content: center;
  display: flex;
  border-radius: 0 30px 0 30px;
  background-color: #c9d1b2;
  margin-left: 100px;
  margin-right: 100px;
  /* min-height: 41rem; */
 padding: 60px 50px;
}
.carousel-inner {
  width: 50rem;
  height: 100%;
}

.carousel-caption{
  position: initial;
  color: #fff  !important ;
  padding: 1.2rem;
}

.carousel-caption h5{
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-decoration-color: yellow;
  text-underline-offset: 6px;
}

.carousel-caption h5:hover {
  animation: slideleft 900s infinite linear;
}

.carousel-item img{
  height: 22rem;
}
.cap-1, .cap-2, .cap-3{
  background-color: #d08c60;
  border: 1px solid #fff;
}

.icon-box:hover {
  background-color: rgb(0, 0, 0, 0.08);
  transition: ease-in-out 0.3s;
}

.nav-item {
  padding: 10px 25px;
  font-size: medium;
}

.resume {
  background-color: #fff;
  color: rgb(195, 112, 85);
  border: 2px solid rgb(195, 112, 85);
  padding: 10px 25px;
  font-size: medium;
}

.resume:hover {
  background-color: rgb(195, 112, 85);
  color: #fff;
}

.project-btn{
  background-color: rgb(195, 112, 85);
  color: #fff;
  border: 2px solid #fff;
  padding: 8px 20px;
  font-size: medium;
}

.project-h4
{
  text-decoration: underline;
}

#myBtn {
  background-color: #9b9b7a;
  color: #fff;
}

#myBtn:hover {
  background-color: white;
  color: #000;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons a {
  position: relative;
  padding-top: 100px;
  font-size: 28px;
  color: #9b9b7a;
  margin: 20px;
}

#About {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-columns: 100%;
  grid-template-rows: min-content 1fr;
}

/**
* CARD
**/
#Portfolio {
  display: flex;
  height: 550px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c9d1b2;
  border-radius: 0 30px 0 30px;
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width: 600px) {
  .nav-item {
    font-size: medium;
    padding: 0px;
  }

  .container-bg {
    width: 300px !important;
    height: 500px !important;
  }
  #head {
    font-size: 30px !important;
    margin-top: 50px !important;
  }
  .bgpic > img {
    height: 250px !important;
    width: 295px !important;
  }
  .para {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  .para > h2 {
    font-size: 35px !important;
  }
  .para > p {
    font-size: 20px;
  }
  .box {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .mlsa > img, .dsc >img , .gcr >img {
    height: 180px;
    width: 100%;
  }
  #Portfolio {
    flex-direction: column;
    margin-left: 15px !important;
    margin-right: 15px !important;
    height: 1000px !important;
    margin-bottom: 100px !important;
  }
  .carousel{
    margin-left: 15px !important;
    margin-right: 15px !important;
    padding: 1rem;
    min-height: 28rem;
  }

  .carousel-item img{
    height: 14rem;
  }
  .carousel-caption p{
    font-size: 0.8rem;
  }
  .carousel-caption h5{
    font-size: 1rem;
  }
  #wave > p {
    font-size: 22px !important;
    top: 10px !important;
  }
  #wave {
    height: 300px !important;
    border-radius: 0% !important;
  }
  #myBtn {
    padding: 5px !important;
    top: 200px !important;
  }
  #wave > h3 {
    font-size: 15px !important;
    top: 90px !important;
  }
  .social-icons a {
    padding-top: 0px !important;
    font-size: 22px !important;
  }
  /* #card1 {
    margin-bottom: 10px !important;
  }
  .card {
    width: 270px !important;
  } */
  .gcr > h4 {
    font-size: 20px !important;
  }
  .gcr > p {
    margin-top: 0px !important;
  }
  .dsc > h4 {
    font-size: 20px !important;
  }
  .dsc > p {
    margin-top: 0px !important;
  }
  /* .card__body > h2 {
    font-size: 15px;
  } */
  .mlsa > h4 {
    font-size: 20px !important;
  }
  .mlsa > p {
    margin-top: 0px !important;
  }
  .mlsa {
    display: flex !important;
    flex-direction: column !important;
    margin: 20px !important;
  }
  br {
    display: none;
  }
  .gcr {
    display: flex !important;
    flex-direction: column !important;
    margin: 20px !important;
  }
  .dsc {
    display: flex !important;
    flex-direction: column !important;
    margin: 20px !important;
  }
  /* #projects {
    margin-top: 100px !important;
  }
  #projects > p {
    margin-bottom: 30px !important;
    font-size: 15px !important;
    margin-top: 0px !important;
  } */
  #tech > h1 {
    font-size: 25px !important;
  }
  #achievements > h1 {
    font-size: 25px !important;
    margin-top: 100px !important;
    margin-bottom: 0px !important;
  }

  #projects >h1{
    font-size: 25px !important;
    margin-bottom: 20px;
    /* margin-top: 100px !important; */
  }
  /* #projects > h1 {
    font-size: 25px !important;
  } */
  .mt-4 {
    margin-top: 0rem !important;
  }
  #tech {
    margin-top: 100px !important;
  }

  .nav{
    justify-content: center !important;
  }
}

/* project */

.container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}
